*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.heder {
    background-image: url('./img/heder.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 50px;
}
.menu {
display: flex;
color: #fff;
font-size: 24px;
gap: 2px;
list-style: none;
}
.item {
padding: 12px 35px;
font-weight: bold;
/* border-bottom: 2px solid transparent; */
}
/* .item:hover{
    /* border-bottom: 2px solid #ffffff; */
/* } */ 
.item>span{
    padding: 8px;
    border-bottom: 2px solid transparent;
}
.item:hover>span{
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
}
.content{
    width: 1024px;
    height: auto;
    margin: 40px auto;
    padding: 0 40px;
    /* overflow: hidden; */
}
.title{
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 99.1397px;
    line-height: 114px;

    color: #FFFFFF;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
    height: 60px;
    background-color: #ffffff36;
    backdrop-filter: blur(5px);
    border-radius: 16px;
    padding: 10px;
    color: white;
}
.search-icon{
    width: 20px;
    height: 20px;
margin-left: 24px;

}
.search>input {
   width: 300px;
   background: transparent;
   border: none;
   padding: 8px;
   color: white;
}
.search>input::placeholder {
   opacity: .5;
   color: white;
} 
.search>button {
    width: 147px;
    height: 42px;
    background: #e0e0e0;;
    border-radius: 32px;
    border: none;
    color: #2659C3;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}  
*:focus {
outline: none;
}
.check-in {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 23px;
}
.check-out {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 23px;
}
.amount {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 23px;
}
.search>button:hover {
    background-color: #fff;
    transition: all 0.2s ease-out;

}
.categories-list{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 80px;
    flex-direction: row;
    align-items: flex-start;
    
   height: 91.09px;
    padding: 10px;
    color: #fff;
    
}
.categories-item{
    display: grid;
    justify-items: center;
    color: #fff;
    gap: 10px;
    opacity: 0,5;
    cursor: pointer;
    transition: all 0,2s ease;
}
.categories{
    margin-top: 40px;
}

.categories-item:hover{
    opacity: 1.0;
    border-bottom: 2px solid transparent;
    border-bottom: 2px solid #fff;

}
.categories-title{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 44.06px;
    line-height: 50.67px;
    margin-top: 55px;
    color: #fff;
}
.categories-item>span{
    padding: 6px;
    border-bottom: 1px solid transparent;
}
.categories-item:hover>span{
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}
.carusel{
    margin-top: 200px;
}
.carusel-list{
    display: flex;
    list-style-type: none;
    gap: 24px;
    width: fit-content;
    margin-top: 30px;
}
.carusel-item{
    display: block;
    width: 310px;
    height: 200px;
    border: radius 8px; ;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-color: #2659C3;
    position: relative;
}
.carusel-item-text{
    font-family: Helvetica ;
    font-style: normal;
    font: size 24px;
    font-weight: 500px ;
    line-height: 31px;
    color: #fff;
    position: absolute;
    left: 24px;
    bottom: 23px;

}
.sub-title{
    color: #fff;
    font-size: 32px;
    font-family: Helvetica;
    font-style: Bold;
    align-items: left;
    vertical-align: top;
}
.gradient{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,212,255,0) 100%);
}
.white{
    width: 100%;
    height: 400px;
    position: absolute;
}
.card-item{
    box-shadow: 0px 0px 20px 5px #c2c2c2;
    border-radius: 16px;
    padding: 24px 16px;
    display: flex;
    gap: 24px;
    height: 200px;
    width: 650px;
}
.text1{
    display: block;
    font-size: 16px;

    color: #9c9c9c;

}
.text2{
    display: block;
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #000000;
}

.text3{
    display: block;
    font-family: Netflix Sans ;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #9c9c9c;

}
.card-content{
    display: grid;
    align-content: stretch;
}
   .card-content>button{
    border-radius: 32px ;
    padding: 16px 32px;
    width: 170px ;
    font-size: 16px;
    cursor: pointer;
    background: #3a6cd8;
    border: none;
    color: #fff;
    transition: all .2s ease ;
   }
   .card-content>button:hover{
    background: #07225e;
   }
   .footer{
    margin-top: 100px;
    width: 100%;
    height: auto;
    background-color: #262729;
    padding-top: 30px;
    padding-bottom: 30px;
   }
   .col.text-logo{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
   }
   .col{
    color: #808080;
   }
   .footer-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: auto;
    width: 100%;
   }
   .col>p{
    margin-bottom: 20px;
   }
   .col>p:nth-child(5n) {
    padding: 15px;
    border: 1px solid #808080;
    display: inline-block;
   }
   .col>p:nth-child(6n) {
    font-size: 12px;
    display: flex;
    width: 270px;
   }
   .social{
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    gap: 15px;
    position: absolute;
    left: 79.8%;
    right: 8.78%;
    top: 64.24%;
    bottom: 27.43%;

   }